.App {
  text-align: center;
}

header {
  padding: 1px;
}

header h1 {

}

.main {
	background-color: red;
  display: flex;
  flex-wrap: nowrap;
}

.list-locations {
	background-color: black;
	color: white;
	width: 30%;
	height: 100vh;
}

.map {
	background-color: yellow;
	width: 90%;
	height: 100vh;
}