body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

header {
	width: 100%;
	height: 70px;
  padding: 1px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.menu {
	height: 100%;
	width: 10%;
}
 .menu svg {
	width: 32px;
	fill: #02b3e4;
	cursor: pointer;
}

.header-title {
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
}

.header h1 {
}

.main {
  display: flex;
  flex-wrap: nowrap;
}

.nav {
	background-color: black;
	color: white;
	width: 30%;
	height: 100vh;
}

.map {
	width: 100%;
	height: 100vh;
}

@media screen and (max-width: 500px) {
  
}